body {
  background-image: url('../images/altHeader4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.container {
  margin: 0px;
  padding: 0px;
  width: 100%; }

.col-md-12 {
  padding: 0px; }

.row {
  text-align: center; }

.header {
  height: 700px; }
  .header .backImgs {
    width: 100%; }

.mainNav .navBar {
  display: inline-block; }
  .mainNav .navBar li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 15px; }
    .mainNav .navBar li a {
      color: white;
      font-size: 1.5em; }

.eventsList {
  width: 50%;
  margin: auto;
  background-color: white;
  opacity: 0.7;
  margin-bottom: 15px; }

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black; }

nav {
  text-align: center; }
  nav .eventsNav {
    list-style-type: none; }
    nav .eventsNav li {
      display: inline-block;
      font-family: 'Open Sans', sans-serif; }
      nav .eventsNav li a {
        color: black; }

.moreInfo {
  width: 50%;
  margin: auto; }

h4 {
  font-family: 'Open Sans', sans-serif;
  color: black; }

form {
  width: 50%;
  margin: auto; }

.submitEvent {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: white;
  opacity: 0.7;
  margin-top: 15px; }
  .submitEvent .eventInfo {
    margin: auto;
    width: 41.5%; }
  .submitEvent input {
    margin-bottom: 10px; }
  .submitEvent button {
    margin-top: 15px;
    margin-bottom: 15px; }
