//general styles

body{
  background-image: url('../images/altHeader4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.col-md-12{
  padding: 0px;
}

.row{
  text-align: center;
}


//main.html

//header

.header{
  height: 700px;
  .backImgs{
    width: 100%;
  }
  .navMenu{
    text-align: left;
    margin-left: 20px;
    ul{
      list-style-type: none;
      li{
        background: transparent;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 1.5em;
        margin-left: -32px;
        border: none;
        margin-bottom: 0px;
        padding: 0px;
        :hover{
          cursor: pointer;
        }
      }
    }
  }

  #headerLogo{
    margin-top: 3%;
  }
  img{
    background-color: transparent;
    border: none;
  }
}

//main navigation



//event list
h1{
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.eventsToday{
  padding: 10px;
  width: 95%;
  margin: auto;
  background-color: white;
  opacity: .7;
  margin-bottom: 15px;
  .row{
    margin: auto;
    h4{
      font-family: 'Open Sans', sans-serif;
      color: black;
      margin-top: 40px;
      text-align: center;
      padding: 5px;
    }
  }
}
.futureEvents{
  padding: 10px;
  width: 95%;
  margin: auto;
  background-color: white;
  opacity: .7;
  margin-bottom: 15px;
  height: 1000px;
  overflow: scroll;
  .row{
    margin: auto;
    h4{
      font-family: 'Open Sans', sans-serif;
      color: black;
      margin-top: 40px;
      text-align: left;
      padding: 5px;
    }
    .showDate{
      text-align: center;
      margin-top: -30px;
    }
    .arrows:hover{
      cursor: pointer;
      opacity: .5;
    }
    a{
      color: #8cb0bb;
    }
    .description{
      width: 75%;
      margin: auto;
    }
  }

}
h2{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
nav{
  text-align: center;
  .eventsNav{
    list-style-type: none;
    li{
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      a{
        color: black;
      }
    }
  }
}
.moreInfo{
  width: 100%;
  margin: auto;
  padding: 15px;
  button{
    margin-bottom: 10px;
  }
}




//submit event
form{
  width: 60%;
  margin: auto;
}
.submitEvent{
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: white;
  opacity: .7;
  margin-top: 15px;
  padding: 10px;
  .eventInfo{
    margin: auto;
    width: 41.5%;
  }
  input{
    margin-bottom: 10px;
  }
  button{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
