//general styles

.container{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.col-md-12{
  padding: 0px;
}

//index.html


//main.html

//header

.header{
  .backImgs{
    width: 100%;
  }
  #headerLogo{
    margin-top: -1000px;
    margin-left: 42%;
  }
}

//main navigation
.mainNav{
  margin-top: -665px;
  .navBar{
    display: inline-block;
    li{
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      a{
        color: white;
        font-size: 1.5em;
      }
    }
  }
}

//event list

h2{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
nav{
  text-align: center;
  .eventsNav{
    display: inline-block;
    li{
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      a{
        color: black;
      }
    }
  }
}
