body {
  background-image: url('../images/altHeader4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.container {
  margin: 0px;
  padding: 0px;
  width: 100%; }

.col-md-12 {
  padding: 0px; }

.row {
  text-align: center;
  margin: auto; }

h3 {
  font-family: 'Courier New', courier;
  color: #df5720;
  font-size: 2em; }

h4 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1.5em; }

h5 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 1.2em;
  margin: auto;
  width: 70%;
  text-align: center; }

.header {
  height: 700px; }
  .header .backImgs {
    width: 100%; }
  .header .navMenu {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    position: fixed;
    z-index: 100; }
    .header .navMenu ul {
      list-style-type: none; }
      .header .navMenu ul li {
        background: transparent;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 1.5em;
        margin-left: -32px;
        border: none;
        margin-bottom: 0px;
        padding: 0px; }
      .header .navMenu ul li:hover {
        cursor: pointer; }
  .header #headerLogo {
    margin-top: 3%; }
  .header img {
    background-color: transparent;
    border: none; }

h1 {
  font-family: 'Courier New', courier;
  text-align: left;
  margin-left: 20px;
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em; }

.eventsBackground {
  background-color: #df5720;
  opacity: 0.6;
  padding: 20px; }

#eventsSection {
  background-color: white; }

#todaySection {
  width: 85%;
  margin: auto;
  margin-top: 500px; }

.eventsToday {
  padding: 10px;
  width: 85%;
  margin: auto;
  background-color: white;
  opacity: 0.7;
  margin-bottom: 240px; }
  .eventsToday .todayRepeat {
    border-right: 2px solid #8cb0bb;
    height: 300px;
    overflow: scroll; }
  .eventsToday a {
    color: #8cb0bb; }
  .eventsToday .weeklyEventsLink {
    margin-top: 20px; }
    .eventsToday .weeklyEventsLink :hover {
      opacity: 0.5;
      cursor: pointer; }

.moreEvents {
  margin-bottom: 240px;
  margin: auto;
  width: 85%; }
  .moreEvents .futureEvents {
    padding: 10px;
    width: 100%;
    margin: auto;
    background-color: white;
    opacity: 0.7;
    height: 1000px;
    overflow: scroll; }
    .moreEvents .futureEvents h4 {
      font-family: 'Open Sans', sans-serif;
      color: black;
      margin-top: 40px;
      text-align: left;
      padding: 5px; }
    .moreEvents .futureEvents .showDate {
      text-align: center;
      margin-top: -30px; }
    .moreEvents .futureEvents .arrows:hover {
      cursor: pointer;
      opacity: 0.5; }
    .moreEvents .futureEvents a {
      color: #df5720; }
    .moreEvents .futureEvents .description {
      width: 75%;
      margin: auto; }
  .moreEvents .weeklyEvents {
    padding: 10px;
    width: 100%;
    margin: auto;
    background-color: #8cb0bb;
    opacity: 0.7;
    height: 1000px;
    overflow: scroll; }
    .moreEvents .weeklyEvents h1 {
      text-align: left;
      font-size: 2.5em; }
    .moreEvents .weeklyEvents h3 {
      text-align: left;
      line-height: 0.5px; }
    .moreEvents .weeklyEvents h4 {
      color: white;
      font-size: 1.5em;
      text-align: left;
      font-weight: bold; }
    .moreEvents .weeklyEvents a {
      color: white; }

.weekClick:hover {
  background-color: #df5720; }

.col-md-8 {
  padding: 0px; }

.col-md-4 {
  padding: 0px; }

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black; }

nav {
  text-align: center; }
  nav .eventsNav {
    list-style-type: none; }
    nav .eventsNav li {
      display: inline-block;
      font-family: 'Open Sans', sans-serif; }
      nav .eventsNav li a {
        color: black; }

.moreInfo {
  width: 100%;
  margin: auto;
  padding: 15px; }
  .moreInfo button {
    margin-bottom: 10px; }

.submit {
  width: 50%;
  margin: auto;
  margin-top: 240px;
  margin-bottom: 300px; }

.submitBackground {
  background-color: #df5720;
  opacity: 0.6;
  padding: 20px; }

.submitEvent {
  background-color: white; }
  .submitEvent img {
    padding: 20px; }

form {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px; }
  form input {
    margin: 10px; }

.footer {
  text-align: center;
  margin-top: 240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #df5720;
  opacity: 0.6; }
  .footer h3 {
    color: white; }
  .footer img {
    margin-bottom: 20px; }
  .footer img:hover {
    opacity: 0.5;
    cursor: pointer; }

.eventInfo {
  margin: auto;
  width: 41.5%; }

#emailForm {
  width: 90%; }

input {
  margin-bottom: 10px; }

button {
  margin-top: 15px;
  margin-bottom: 15px; }
