.container {
  margin: 0px;
  padding: 0px;
  width: 100%; }

.col-md-12 {
  padding: 0px; }

.header .backImgs {
  width: 100%; }
.header #headerLogo {
  margin-top: -1000px;
  margin-left: 42%; }

.mainNav {
  margin-top: -665px; }
  .mainNav .navBar {
    display: inline-block; }
    .mainNav .navBar li {
      display: inline-block;
      font-family: 'Open Sans', sans-serif; }
      .mainNav .navBar li a {
        color: white;
        font-size: 1.5em; }

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black; }

nav {
  text-align: center; }
  nav .eventsNav {
    display: inline-block; }
    nav .eventsNav li {
      display: inline-block;
      font-family: 'Open Sans', sans-serif; }
      nav .eventsNav li a {
        color: black; }
