//general styles

body{
  background-image: url('../images/altHeader4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.col-md-12{
  padding: 0px;
}

.row{
  text-align: center;
  margin: auto;
}

h3{
  font-family: 'Courier New', courier;
  color: #df5720;
  font-size: 2em;
}

h4{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1.5em;
}

h5{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 1.2em;
  margin: auto;
  width: 70%;
  text-align: center;
}


//main.html

//header

.header{
  height: 700px;
  .backImgs{
    width: 100%;
  }
  .navMenu{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    position: fixed;
    z-index: 100;
    ul{
      list-style-type: none;
      li{
        background: transparent;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 1.5em;
        margin-left: -32px;
        border: none;
        margin-bottom: 0px;
        padding: 0px;

      }
      li:hover{
        cursor: pointer;
      }
    }
  }

  #headerLogo{
    margin-top: 3%;
  }
  img{
    background-color: transparent;
    border: none;
  }
}

//main navigation



//event list

h1{
  font-family: 'Courier sans-serif', courier;
  text-align: left;
  margin-left: 20px;
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
}
.eventsBackground{
  background-color: #df5720;
  opacity: .6;
  padding: 20px;
}
#eventsSection{
  background-color: white;
}
#todaySection{
  width: 85%;
  margin: auto;
  margin-top: 500px;
}
.eventsToday{
  padding: 10px;
  width: 85%;
  margin: auto;
  background-color: white;
  opacity: .7;
  margin-bottom: 240px;
  .todayRepeat{
    border-right: 2px solid #8cb0bb;
    height: 300px;
    overflow: scroll;
  }
  a{
    color: #8cb0bb
  }
  .weeklyEventsLink{
    margin-top: 20px;
    :hover{
      opacity: .5;
      cursor: pointer;
    }
  }
}


.moreEvents{
  margin-bottom: 240px;
  margin: auto;
  width: 85%;
.futureEvents{
  padding: 10px;
  width: 100%;
  margin: auto;
  background-color: white;
  opacity: .7;
  height: 1000px;
  overflow: scroll;

    h4{
      font-family: 'Open Sans', sans-serif;
      color: black;
      margin-top: 40px;
      text-align: left;
      padding: 5px;
    }
    .showDate{
      text-align: center;
      margin-top: -30px;
    }
    .arrows:hover{
      cursor: pointer;
      opacity: .5;
    }
    a{
      color: #df5720;
    }
    .description{
      width: 75%;
      margin: auto;
    }


}

.weeklyEvents{
  padding: 10px;
  width: 100%;
  margin: auto;
  background-color: #8cb0bb;
  opacity: .7;
  height: 1000px;
  overflow: scroll;
  h1{
        text-align: left;
        font-size: 2.5em;
      }
  h3{
    text-align: left;
    line-height: .5px;
  }
  h4{
    color: white;
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
  }
  a{
    color: white;
  }
}
}
.weekClick:hover{
  background-color: #df5720;
}

.col-md-8{
  padding: 0px;
}
.col-md-4{
  padding: 0px;
}

h2{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
nav{
  text-align: center;
  .eventsNav{
    list-style-type: none;
    li{
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      a{
        color: black;
      }
    }
  }
}
.moreInfo{
  width: 100%;
  margin: auto;
  padding: 15px;
  button{
    margin-bottom: 10px;
  }
}




//submit event

.submit{
  width: 50%;
  margin: auto;
  margin-top: 240px;
  margin-bottom: 300px;
}

.submitBackground{
  background-color: #df5720;
  opacity: .6;
  padding: 20px;
}
.submitEvent{
  background-color: white;
  img{
    padding: 20px;
  }

}
  form{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    input{
      margin: 10px;
    }
  }
  .footer{
    text-align: center;
    margin-top: 240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #df5720;
    opacity: .6;
    h3{
      color: white;
    }
    img{
      margin-bottom: 20px;
    }
    img:hover{
        opacity: .5;
        cursor: pointer;
      }
  }
    .eventInfo{
      margin: auto;
      width: 41.5%;
    }
    #emailForm{
      width: 90%;
    }
    input{
      margin-bottom: 10px;
    }
    button{
      margin-top: 15px;
      margin-bottom: 15px;
    }
