<div class="container">

  <!-- header -->
  <div class="header">
    <div class="row topNav">

      <nav class="mainNav">
        <ul class="navBar">
          <li ng-click="scrollTo('eventsSection')">Events</li>
          <li ng-click="scrollTo('submitSection')">Submit an Event</li>
        </ul>
      </nav>

    </div>
    <div class="row">
      <img id="headerLogo" src="../images/logoZenRound2.png" alt="" />
    </div>

  </div>








  <!-- start events section -->

  <div id="eventsSection">
    <div class="row">
      <div class="col-md-6">
        <div class="eventsToday">
        <div class="row">
        <h2>Today's Events</h2>
      </div>
      <div class="row">
        <div ng-controller="mainCtrl">
          <div ng-repeat "event in events | orderBy: 'date' | eventdateFilter">
            <h4>{{event.date | amDateFormat:'MMMM Do'}}</h4>
          </div>

        </div>
      </div>
    </div>
      </div>
      <div class="col-md-6">
        <div class="futureEvents">
        <div class="row">

          <h2>Coming Up</h2>
        </div>

        <!-- event filter by type -->
        <div class="row">
          <label for="typeFilter">
            <select name="tFilter" ng-model="tfilter.type">
              <option value="">
              </option>
              <option value="comClass">
                Community Classes
              </option>
              <option value="workshop">
                Workshops
              </option>
              <option value="teacherTrain">
                Teacher Trainings
              </option>
              <option value="justForFun">
                Just for Fun
              </option>
            </select>
          </label>
        </div>


        <!-- event list -->
        <div ng-controller="mainCtrl">


          <div ng-repeat="event in events | limitTo:100 | filter:tfilter | orderBy: 'date' | filterPastDates">
            <div class="row beforeMore">
              <div class="col-md-6" id="eventDateFormat">
                <h4>{{event.date | amDateFormat:'MMMM Do'}}</h4>
              </div>
              <div class="col-md-6">
                <h4>{{event.name}}</h4>
              </div>
            </div>







            <div class="row">
              <button ng-click="moreInfo = true" ng-hide="moreInfo">More Info</button>
            </div>
            <div class="row">
              <div class="moreInfo">
                <div ng-show="moreInfo">
                  <div class="row">
                    {{ combine(event.date,event.time) | amDateFormat: 'h:mm a'}}
                  </div>
                  <div class="row">
                    {{event.location}}
                  </div>
                  <div class="row">
                    {{event.description}}
                  </div>
                  <div class="row">
                    <a href="{{event.website}}">Go to Webpage</a>
                  </div>

                </div>
              </div>
              <div class="row">
                <button ng-click="moreInfo = false" ng-show="moreInfo">Less Info</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- event submission form -->

<div class="submitEvent" id="submitSection">
  <h2>Submit an Event</h2>

  <form ng-submit="addSingleEvent(singleEvent)" class="form-inline">
    <input ng-model="singleEvent.name" class="form-control" type="text" placeholder="Event Name">
    <input type="date" ng-model="singleEvent.date" class="form-control">
    <input ng-model="singleEvent.time" class="form-control" type="time" placeholder="Time">
    <input ng-model="singleEvent.location" class="form-control" type="text" placeholder="Location">
    <input ng-model="singleEvent.yourName" class="form-control" type="text" placeholder="Your Name">
    <input ng-model="singleEvent.yourEmail" class="form-control" type="text" placeholder="Your Email">
    <input ng-model="singleEvent.studio" class="form-control" type="text" placeholder="Studio/Organization">
    <input type="url" ng-model="singleEvent.website" class="form-control" type="text" placeholder="Website">
    <textarea ng-model="singleEvent.description" class="form-control" rows="3" placeholder="Event Description"></textarea>

    <h4>Event Type</h4>
    <label class="radio-inline">
      <input ng-model="singleEvent.type" name="eventType" type="radio" value="comClass">Community Class
    </label>
    <label class="radio-inline">
      <input ng-model="singleEvent.type" name="eventType" type="radio" value="workshop">Workshop
    </label>
    <label class="radio-inline">
      <input ng-model="singleEvent.type" name="eventType" type="radio" value="teacherTrain">Teacher Training
    </label>
    <label class="radio-inline">
      <input ng-model="singleEvent.type" name="eventType" type="radio" value="justForFun">Just for Fun
    </label>
    <br>
    <button type="submit" name="button">Submit</button>
  </form>

</div>




</div>
