<div class="container">

  <!-- header -->
  <div class="header" id="homeSection">
    <div class="row">

      <div ng-controller="mainCtrl" class="navMenu">
        <img src="../images/hamburger.png" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
        <div collapse="!isCollapsed">
          <ul>
            <li class="well well-lg homeNav">Home</li>
            <li class="well well-lg todaysEventsNav">Today</li>
            <li class="well well-lg futureEventsNav">Upcoming Events</li>
          </ul>

        </div>
      </div>

    </div>
    <div class="row">
      <img id="headerLogo" src="../images/logoZenRound2.png" alt="" />
    </div>
    <div class="row">
      <h3>Charleston's Yoga Guide</h3>
    </div>

  </div>








  <!-- start events section -->

  <!-- start today section -->

  <div class="row">
    <div id="todaySection" class="eventsBackground">
      <h1 class="titles">Today's Events</h1>
    </div>
  </div>

  <div class="eventsToday">
    <div class="row">

      <div ng-controller="mainCtrl">
        <div ng-repeat="event in events | eventDateFilter | orderBy: 'time' | limitTo:3">


          <div class="col-md-3 todayRepeat">
            <div class="row">
              <h3>{{ combine(event.date,event.time) | amDateFormat: 'h:mm a'}}</h4>
              </div>
              <div class="row">
                <h4>{{ event.name}}</h4>
              </div>
              <div class="row">
                <h4>{{event.location}}<h4>
                </div>
                <div class="row">
                  <h4>{{event.description}}</h4>
                </div>
                <div class="row">
                  <a href="{{event.website}}">Go to Webpage</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 weeklyEventsLink">
              <img src="../images/smallLogo.png" alt="" />
              <h3>Click Here <br> for <br> Weekly Events</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- end today section -->
      <!-- start future events section -->




<!-- column of future events -->
<div class="row">
<div class="moreEvents">


  <div id="futureEventsSection" class="eventsBackground">
    <h1>More Events</h1>
  </div>

<div class="row">



        <div class="col-md-8">
          <div class="futureEvents">


          <h2>Coming Up</h2>


        <!-- event filter by type -->
        <div class="row">
          <label for="typeFilter">
            <select name="tFilter" ng-model="tfilter.type">
              <option value="">
                All Classes
              </option>
              <option value="comClass">
                Community Classes
              </option>
              <option value="workshop">
                Workshops
              </option>
              <option value="teacherTrain">
                Teacher Trainings
              </option>
              <option value="justForFun">
                Just for Fun
              </option>
            </select>
          </label>
        </div>


<!-- event list before moreInfo -->
        <div ng-controller="mainCtrl">


          <div ng-repeat="event in events | filter:tfilter | orderBy: 'datetime' | filterPastDates">
            <div class="row">
              <div class="col-md-2">
                <img src="../images/smallLogo.png" alt="" />
              </div>
              <div class="col-md-5">
                <h4>{{event.date | amDateFormat:'MMMM Do'}}</h4>
              </div>
              <div class="col-md-5">
                <h4>{{event.name}}</h4>

              </div>

            </div>





<!-- event list expanded -->

            <div class="row">
              <img class="arrows" src="../images/downArrows.png" ng-click="moreInfo = true" ng-hide="moreInfo">
            </div>
            <div class="row">
              <div class="moreInfo">
                <div ng-show="moreInfo">
                  <div class="row">
                    <h4 class="showDate">{{ combine(event.date,event.time) | amDateFormat: 'h:mm a'}} - {{event.location}}</h4>
                  </div>
                  <div class="row">
                    <div class="description">
                      {{event.description}}
                    </div>
                  </div>
                  <div class="row">
                    <a href="{{event.website}}">Website</a>
                  </div>

                </div>
              </div>
              <div class="row">
                <img class="arrows" src="../images/upArrows.png" ng-click="moreInfo = false" ng-show="moreInfo">
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- start weekly events section -->

      <div class="col-md-4">
        <div class="weeklyEvents">


        <h2>Weekly</h2>
        <div class="dayOfWeek">
        <div class="row">
          <h3>Mondays</h3>
          <hr>
        </div>
        <div class="row">
          <h4>6pm: <a class="weekClick" href="http://bendybrewskiyoga.com/">Bendy Brewski Yoga</a></h4>
        </div>
        <div class="row">
          <h4>8pm: <a class="weekClick" href="http://jivamuktiyogasc.com/events.html">Chanting w/ Andrea</a></h4>
        </div>
        </div>

        <div class="dayOfWeek">
        <div class="row">
          <h3>Tuesdays</h3>
          <hr>
        </div>
        <div class="row">
          <h4>4pm: <a class="weekClick" href="http://www.holycowyoga.com/Schedule.html">Holy Cow Community Class</a></h4>
        </div>
        <div class="row">
          <h4>4:15pm: <a class="weekClick" href="http://www.jivamuktiyogasc.com/sche_class.html#!">$5 Busy People Class</a></h4>
        </div>
        <div class="row">
          <h4>5pm: <a class="weekClick" href="http://www.jivamuktiyogasc.com/sche_class.html#!">$5 Busy People Class</a></h4>
        </div>
        <div class="row">
          <h4>6:30pm: <a class="weekClick" href="http://www.gaeayoga.com/Gaea_Yoga_Center/schedule.html">Gaea Community Flow</a></h4>
        </div>
        <div class="row">
          <h4>6:45pm: <a class="weekClick" href="http://bendybrewskiyoga.com/">Bendy Brewski Yoga</a></h4>
        </div>
      </div>

      <div class="dayOfWeek">
        <div class="row">
          <h3>Wednesdays</h3>
          <hr>
        </div>
      </div>

      <div class="dayOfWeek">
        <div class="row">
          <h3>Thursdays</h3>
          <hr>
        </div>
      </div>

      <div class="dayOfWeek">
        <div class="row">
          <h3>Fridays</h3>
          <hr>
        </div>
      </div>

      <div class="dayOfWeek">
        <div class="row">
          <h3>Saturdays</h3>
          <hr>
        </div>
      </div>

      <div class="dayOfWeek">
        <div class="row">
          <h3>Sundays</h3>
          <hr>
        </div>
        </div>

      </div>
    </div>
  </div>
  </div>


      <!-- end weekly events section -->


      <!-- end future events section -->





      <!-- event submission form -->
      <div class="row">
        <div class="submitBackground">
          <h1>Submit an Event</h1>
        </div>
      </div>
      <div class="submitEvent" id="submitSection">


        <form ng-submit="addSingleEvent(singleEvent)" class="form-inline">
          <input ng-model="singleEvent.name" class="form-control" type="text" placeholder="Event Name">
          <input type="date" ng-model="singleEvent.date" class="form-control">
          <input ng-model="singleEvent.time" class="form-control" type="time" placeholder="Time">
          <input ng-model="singleEvent.location" class="form-control" type="text" placeholder="Location">
          <input ng-model="singleEvent.yourName" class="form-control" type="text" placeholder="Your Name">
          <input ng-model="singleEvent.yourEmail" class="form-control" type="text" placeholder="Your Email">
          <input ng-model="singleEvent.studio" class="form-control" type="text" placeholder="Studio/Organization">
          <input type="url" ng-model="singleEvent.website" class="form-control" type="text" placeholder="Website">
          <textarea ng-model="singleEvent.description" class="form-control" rows="3" placeholder="Event Description"></textarea>

          <h4>Event Type</h4>
          <label class="radio-inline">
            <input ng-model="singleEvent.type" name="eventType" type="radio" value="comClass">Community Class
          </label>
          <label class="radio-inline">
            <input ng-model="singleEvent.type" name="eventType" type="radio" value="workshop">Workshop
          </label>
          <label class="radio-inline">
            <input ng-model="singleEvent.type" name="eventType" type="radio" value="teacherTrain">Teacher Training
          </label>
          <label class="radio-inline">
            <input ng-model="singleEvent.type" name="eventType" type="radio" value="justForFun">Just for Fun
          </label>
          <br>
          <button type="submit" name="button">Submit</button>
        </form>

      </div>




    </div>
