<div class="container">

  <div class="row">
    <div class="col-md-12">

        <div class="header">
          <img class="backImgs" src="../images/altHeader4.jpg" alt="" />
          <img id="headerLogo" src="../images/logoZenRound2.png" alt="" />

        </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nav>
        <ul class="navBar">
          <li><a href="#">Events</a></li>
          <li><a href="#">Submit an Event</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Events Around Town</h2>
      <nav>
      <ul class="eventsNav">
        <li><a href="#">All</a></li>
        <li><a href="#">Today</a></li>
        <li><a href="#">This Week</a></li>
        <li><a href="#">This Month</a></li>
        <li><a href="#">Community Classes</a></li>
        <li><a href="#">Workshops</a></li>
        <li><a href="#">Teacher Training</a></li>
        <li><a href="#">Fun Stuff</a></li>
      </ul>
    </nav>
    </div>
  </div>
</div>
